@font-face {
    font-family: NeuePowerTrial-Regular;
    src: url(fonts/NeuePowerTrial-Regular.ttf);
}
*{
    /* Disable user select across browser types */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: rgb(210, 214 ,239);
}
body {
    background-color: rgb(16, 69 ,71);
}

h1 {
    font-family: NeuePowerTrial-Regular, sans-serif;
    font-size: 6em;
    text-align: center;
}

h2 {
    font-family: NeuePowerTrial-Regular, sans-serif;
    font-size: 2em;
    text-align: center;
}

:hover{
    cursor: default;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(175, 146, 157);
    cursor: pointer;
}
